@charset "utf-8";
/* CSS Document */
body,td,th {
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	/*font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;*/
	font-style: normal;
	font-size: 30px;
	margin: 30px;
}

header, footer {
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	/*font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;*/
	font-style: normal;
	font-size: 30px;
}

h1, #navi {
	text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

figure {
	font-size: 15px;
	font-style:italic;
}